#parkImg {
  border-style: solid;
  border-width: 2px;
  border-color: goldenrod;
}

#parkInfo {
  position: relative;
  top: 40px;
}

.thumb{
  margin-bottom: -1%;
}

.thumbdown{
  margin-bottom: -4%;
}

